
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
src/test/features/login_scenearios.feature
.gitignore
.DS_Store
cucumber-report.html
